.each-team-card-container {
  width: 40%;
  height: 20vh;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin: 15px;
}

.each-team-container {
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
}

.team-image {
  height: 100px;
  width: 150px;
}

.each-team-heading {
  font-size: 22px;
  font-family: bree serif;
  font-weight: 500;
  color: #ffffff;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .each-team-card-container {
    width: 150px;
    height: 150px;
    margin: 8px;
    background-color: #1e293b;
  }

  .team-image {
    height: 75px;
    width: 75px;
  }

  .each-team-heading {
    font-size: 16px;
    margin-left: 5px;
  }
}
