.home-bg-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.home-logo-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 50px;
  width: 50px;
}
.home-main-heading {
  font-size: 45px;
  font-family: bree serif;
  font-weight: 500;
  color: #ffffff;
  margin-left: 15px;
}

.team-card-container {
  width: 50%;
}
.link-component {
  text-decoration: none;
  color: #ffffff;
}

.team-cards {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .home-bg-container {
    padding: 0;
    justify-content: center;
  }
  .home-logo-container {
    margin-left: 30px;
    align-content: center;
  }

  .team-card-container {
    width: 100%;
  }
}
